{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('libro_completo') }}">
    <h1>Registro de Libro</h1>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br>

    <label for="autor">Autor:</label>
    <input type="text" id="autor" name="autor" required><br>

    <label for="resumen">Resumen:</label>
    <textarea id="resumen" name="resumen" rows="4" required></textarea><br>

    <label for="medio">Medio:</label>
    <select id="medio" name="medio" required>
        <option value="Físico">Físico</option>
        <option value="Magnético">Magnético</option>
    </select><br>

    <button type="submit">Registrar Libro</button>
</form>
{% endblock %}
